* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background: #282828;
}

.header__navbar {
    position: fixed;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-shadow: 0 10px 7px rgba(255, 255, 255, 0.07);
    z-index: 2;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
}

.header__nav-left,
.footer__content-links,
.header__nav-left-link {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__nav-left-img {
    width: 100px;
    height: 53px;
}

.header__nav-left-links,
.footer__content-link {
    font-family: 'MB';
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #fff;
    transition: 400ms;
}

.header__nav-left-links:hover,
.footer__content-link:hover {
    color: #c4c4c4;
}

.nav__right-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav__right-links-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 400ms;
}

.nav__right-links-form .nav__right-links-btn svg path {
    transition: all 400ms;
}

.nav__right-links-form .nav__right-links-btn:hover svg path {
    fill: #c4c4c4;
}

.nav__right-links-link svg path {
    fill: white;
    transition: all 400ms;
}

.nav__right-links-link:hover svg path {
    fill: #c4c4c4;
}

.nav__right-links-form {
    display: flex;
    gap: 15px;
    transition: all 400ms;
}

.nav__right-links-form .nav__right-links-input {
    max-width: 0;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-family: 'MR';
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    transition: all 500ms;
}

.nav__right-links-form:hover .nav__right-links-input {
    max-width: 240px;
    width: 100%;
    font-family: 'MR';
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 10px 12px;
    transition: all 500ms;
}

.header__content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.header__content-title {
    font-family: 'PR';
    font-weight: 400;
    font-size: 100px;
    line-height: 75%;
    color: #fff;
    z-index: 1;
}

.header__content-link {
    border-radius: 10px;
    max-width: 200px;
    width: 100%;
    padding: 13px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-family: "MM";
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    z-index: 1;

    svg path {
        fill: rgba(255, 255, 255, 0.7);
    }

}

.main {
    background: #151515;
}

.main__details {
    padding: 30px 0;
}

.main__details-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.details__content-text {
    font-family: 'MM';
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    max-width: 538px;
    width: 100%;
}

.details__content-img {
    max-width: 552px;
    width: 100%;
}

.between {
    padding: 30px 0;
}

.between__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
}

.between__content-text {
    font-family: 'MB';
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    max-width: 333px;
    width: 100%;
}

.right {
    text-align: right;
}

.between__content-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
}

.between__content-img::before {
    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #c4c4c4;
}

.between__content-img::after {
    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #c4c4c4;
}

.products {
    padding: 35px 0;
}

.products__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.products__content-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.products__content-cards {
    border-radius: 6px;
    max-width: 255px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content__cards-title {
    font-family: 'MB';
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.content__cards-img {
    width: 127px;
    height: 167px;
}

.content__cards-subtitle {
    font-family: 'MR';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
}

.content__cards-link {
    max-width: 161px;
    width: 100%;
    font-family: "MB";
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background: rgba(21, 21, 21, 0.9);
    backdrop-filter: blur(15px);
    display: block;
    text-align: center;
    padding: 7px 0;
    transition: 400ms;
}

.content__cards-link:hover {
    background: rgba(205, 205, 205, 0.9);
    backdrop-filter: blur(15px);
    color: rgba(0, 0, 0, 0.9);
    mix-blend-mode: overlay;
}

.footer {
    box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.25);
    background: #282828;
    padding: 81px 0;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__content-img {
    width: 100px;
    height: 53px;
}

.footer__content-svgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

.footer__content-svgs svg {
    max-width: 70px;
    width: 100%;
    height: 55px;
}

.between__content-main-img {
    max-width: 268px;
    width: 100%;
}